<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>523367148663-4uikah58i6bq1j1d7iovcm5coel5is5m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.523367148663-4uikah58i6bq1j1d7iovcm5coel5is5m</string>
	<key>API_KEY</key>
	<string>AIzaSyA_tz1mOQwfqMRz-PjC-WUNisQqOSXW79s</string>
	<key>GCM_SENDER_ID</key>
	<string>523367148663</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.matthewsavidge.Simpli</string>
	<key>PROJECT_ID</key>
	<string>simpli-1639619384089</string>
	<key>STORAGE_BUCKET</key>
	<string>simpli-1639619384089.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:523367148663:ios:6f00a018dbd9b0beb5ea72</string>
</dict>
</plist>